$v-background-color: #444D50; /* 444D50, 8e4600, e77f19, 39525b */
$v-app-background-color: #2d2d2d; /* 646464, 5E676A */

/*$light-back: ligthen(#39525b, 20%);*/

$link-color: white; /* light blue */
$v-focus-color: $link-color;

$v-font-size: 14px;
/*$v-unit-size: 27px;*/
/*$v-font-color: rgb(255,255,255);
$v-focus-color: #cbb29a;*/
/*$v-table-background-color: $v-panel-background-color;*/

/*$v-line-height: 1.3em;*/

$v-app-loading-text: "Loading TCGOne...";
$v-background-color: #262626;
$v-panel-border: 0px solid #262626;
$v-panel-background-color: #333333;
$v-focus-color: #ffa500;
$v-font-size: 15px;
$v-unit-size: 34px;
$v-bevel: false;
$v-shadow: false;
$v-gradient: false;
$v-textfield-bevel: false;
$v-textfield-shadow: false;
$v-border-radius: 0;
$v-border: 2px solid v-tone;
$v-overlay-shadow: 0 0 0 2px (v-tint 10);
$v-focus-style: $v-focus-color;
$v-font-family: "Lato", sans-serif;
$v-font-weight--header: 400;
$v-font-weight: 400;
@import "addons.scss";
@import "../valo/valo.scss";

@include addons;


.tcgwars {

    @include valo;
    .v-table{
        /*background-color: rgb(110,110,110);*/
        background-color: inherit;
    }
    .v-table-row{
/*        background-color: lighten($v-app-background-color, 10%);*/
        background-color: $v-panel-background-color;
/*        rgb(58,58,58);*/
    }
    .v-table-row-odd{
        background-color: inherit;
    }
    .v-textfield,.v-textarea{
        /*background-color: inherit;*/
        background-color: $v-background-color;
    }
	.v-textfield{
		border-left: 1px solid #676767;
		border-top: 1px solid #676767;
	}

    .filters-panel {
        background-color: #262626;
        height: $v-unit-size;
    }
    .filters-panel .v-textfield {
         height: $v-unit-size !important;
    }
	.filters-wrap{
		border-left: 1px solid #4c4c4c;
		border-right: 1px solid #4c4c4c;
	}
/*      $v-scaling-factor--tiny: 0.55;
        $v-scaling-factor--small: 0.65;
        $v-scaling-factor--large: 0.85;
        $v-scaling-factor--huge: 1.00;
*/
    /*.v-button{
        border-radius: 5px;
    }*/
	.v-grid-row > td {
			background: #3a3a3a;
			border-color: #676767;
	}
	.v-grid-header .v-grid-cell{
		background-color:#262626;
		border-color:#676767;
		color: white;
	}
	.v-grid-row-stripe > td {
	background-color: #2d2d2d;
	}
	.v-grid-row-selected{
		.v-grid-cell{
			background-color:white;
			color:	black;
			border-color: #676767;
		}
	}
	.v-grid-tablewrapper{
		border: 1px solid #676767;
	}
	
    .v-image-cvselected {
        filter: contrast(1.5);
        -webkit-filter: contrast(1.5);
        border-radius: 0px;
        border-style: dashed;
        border-color: white;
        border-width: 1px;
        cursor: pointer;
    }
    .v-image-cv {
        border-radius: 5px;
        border-style: solid;
        border-color: transparent;
        box-sizing: border-box;
        border-width: 1px;
        cursor: pointer;
    }
    /*.v-image-cvblank {
    	border-radius: 5px;
    	border-style: dashed;
    	border-color: yellow;
    	border-width: 1px;
    	cursor: not-allowed;
    }*/
    .v-image-cvhidden {
        border-radius: 5px;
        border-style: solid;
        border-color: transparent;
        border-width: 1px;
        cursor: help;
    }

    .v-image-cv img,
    .v-image-cvhidden img,
    .v-image-cvselected img {
        width: 100% !important;
        height: 100% !important;
        vertical-align: top;
    }

    div.v-image-cv,
    div.v-image-cvhidden,
    div.v-image-cvselected {
        vertical-align: baseline;
        text-align: start;
        display: block;
    /* 	border-style: solid; */
    /* 	border-color: transparent; */
    /* 	border-width: 1px; */
    }
	.v-button-primary{
		background-color: black;
		color: white;
	}
	.v-button-link{
		color: #ffffff
	}
    .v-button-link2{
        font-weight: 800;
    /* 	font-size: 12px; */
    /* 	color: #1b699f; */
    /* 	text-decoration: underline; */
    /* 	vertical-align: middle; */

    }

    /*input.v-textfield[type="text"]{
        padding-top: 0px;
        color: rgb(224,224,224);
    }*/

    .announcementbar{
        /* 	width: 100% !important; */
        /* 	margin-left:auto; */
        /* 	margin-right:auto; */
        /* 	line-height: 150%; */
        border: 1px solid #cccccc;
        padding: 3px 25px;
        border-width: 1px;
        background: white;
        border-radius: 15px;
    }

    /*.toolbar-flex{
        display: flex;
    }
    .toolbar-item{
        display: inline;
        float: left;
    }
    .v-table-row, .v-table-row-odd {
        height: 24px;
    }*/
    a{
        color: $link-color;
    }

    .pbg_cust {
        width: 100%;
        height: 100%;
        overflow: auto;
    }
    .pbg_cust .pcs {
        /*float: left;*/
        display: inline-block;
        margin: 0 3px 0 0;
        overflow: hidden;
    }
    .pbg_cust .prize {
        /*float: left;*/
        display: inline-block;
        margin-bottom: 5px;
        margin-right: 5px;
    }
    .pbg_cust .prize_row {
        display: block;
    }
    .ou-button{
        position: relative;
        vertical-align: middle;
        float: right;
        right: 25px;
        /*margin-right: 25px !important;*/
        line-height: normal;
        /*font-size: 13px;*/
    }
    .ou-button .v-button-wrap{
        vertical-align: super;
    }
    .chatlog{
        padding:10px;
    }
	.v-caption{
		color: white;
	}
    .pcssi{/*pcs status item*/
        display: inline;
        margin-right: 3px;
    }
    .v-caption-pcssi{
        display: inline;
    }
    .pcssi img{
        vertical-align: middle;
    }
    .tyi{/* type icon */
        display: inline;
        vertical-align: middle;
    }
    .dmgLbl{
        display: inline;
        border: white 1px solid;
        border-radius: 10px;
        padding: 0px 7px 0px 7px;
        margin-right: 3px;
        font-weight: bold;
    }

    /*.filters-panel{
        background-color: rgb(100,100,100) !important;
    }*/

    .popupwindow .v-window-maximizebox{
        display: none;
    }
    .nooverflow{
        overflow: hidden;
    }
    .display_inline{
        display: inline;
    }

    .store-items-layout{
    }
    .store-item-layout{
        border: 1px solid white;
        border-radius: 3px;
        margin: 3px 3px 3px 3px;
    }
    .progress-layout{
        padding: 5px 5px 5px 5px;
    }
    .v-countdownclock{
        display: block;
    }
    .v-label-quest-info{
        text-align: center;
    }
    .v-panel-quest-panel{
        margin: 5px 0px 0px 5px;
    }
    .hidden {
        display: none;
    }
    .monospaced {
       	font-family: "Courier New", Courier, monospace;
    }
    #loginForm{
        width: 100%;
    }

    .gameView {
        width: auto !important;
        height: auto !important;
        position: absolute;
        top: 45px;
        bottom: 10px;
        left: 10px;
        right: 10px;
        box-sizing: border-box;
        overflow:hidden;
        /*margin: 10px;*/
        .left {
            float: left;
            height: 100% !important;
            box-sizing: border-box;
            display: block;
        }
        .middle {
            width: auto !important;
            height: 100% !important;
            box-sizing: border-box;
            display: block;
            position: relative;
            .hand {
                position: absolute;
                bottom: 0px;
                left: 0px;
            }
        }
    }

    .gameView[width-range~="0-1199px"] {
        .left {
            width: 250px !important;
        }
        .middle {
            margin-left: 260px;
        }
    }

    .gameView[width-range~="1200-1599px"] {
        padding: 10px;
        .left {
            width: 275px !important;
        }
        .middle {
            margin-left: 285px;
        }
    }

    .gameView[width-range~="1600px-"] {
        padding: 20px;
        .left {
            width: 300px !important;
        }
        .middle {
            margin-left: 310px;
        }
    }

    .gameView[height-range~="700-799px"] {
        .middle{
            .hand{
                height: 160px !important;
                .cv{ width: 68px !important; }
        		}
        }
    }

    .gameView[height-range~="800px-"] {
        /*.v-customlayout {
            height: 270px !important;
        }*/
        .middle{
            .hand{
                height: 250px !important;
                .cv{ width: 90px !important; }
        		}
        }
    }

    .v-button-multiline{
        white-space: normal;
        height: auto;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .pack-grid .v-embedded {
        @include transition(all 0.30s ease-in-out);
        //border: 2px solid transparent;
        //box-sizing: border-box;
        cursor: pointer;
    }
    .pack-card-epic-opened,.pack-card-epic:hover{
        @include box-shadow(0 0 15px 6px #d35400);
        //border: 2px solid #d35400 !important;
    }
    .pack-card-superior-opened,.pack-card-superior:hover{
        @include box-shadow(0 0 15px 5px #8e44ad);
        //border: 2px solid #8e44ad !important;
    }
    .pack-card-rare-opened,.pack-card-rare:hover{
        @include box-shadow(0 0 15px 4px #3498db);
        //border: 2px solid #3498db !important;
    }
    .pack-card-average-opened,.pack-card-average:hover{
        @include box-shadow(0 0 15px 2px #ecf0f1);
        //border: 2px solid #ecf0f1 !important;
    }
    .centered-layout {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}
